<div class="w3-top">
	<div class="w3-row w3-light-blue w3-border-bottom w3-border-blue">
		<div class="w3-col m1">
			<img src="images/logos/logo.jpg" alt="logo">
		</div>


		<div
			class="w3-half w3-margin-top w3-wide w3-hide-medium w3-hide-small">
			<div class="w3-left" style="margin-left: 2%">
				BookMyMovies<span style="color: red">.</span>org<span
					style="color: red">.</span>in

			</div>

		</div>
		<div class="w3-margin-top w3-hide-medium w3-hide-small">
			<div class="w3-right" style="margin-right: 1%">Movie Booking
				Experience Simplified</div>
		</div>
	</div>

	<!-- left side of bar -->
	<div
		class="w3-bar w3-theme w3-small w3-green w3-border-bottom w3-border-black"
		style="z-index: 4;position: fixed;top: ">
		<a href="#" class="w3-bar-item w3-button w3-hover-black"><i
			class="fa fa-home fa-2x"></i></a> <a
			class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-black w3-large ">About
			Us</a> <a
			class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-black w3-large ">Support</a>
		<a
			class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-black w3-large ">FAQ</a>
		<a
			class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-black w3-large ">Contact
			Us</a> <a
			class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-black w3-large ">Disclaimer</a>
		<a
			class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-black w3-large ">Privacy 
			policy
           
			</a>

		<!-- right side of bar -->
		<a class="w3-bar-item  w3-hide-medium w3-hide-small w3-hover-black w3-tiny w3-button  w3-gray
     w3-round-xlarge w3-right" style="margin-right: 1%; margin-top: 0.22%">
       <i class="fa fa-map-marker fa-2x"> <span style="margin-right: 0.5%" ng-model="loc" ng-bind="loc"></i></a>
       <a class="w3-bar-item  w3-hide-medium w3-hide-small w3-hover-black w3-tiny w3-button  w3-gray
     w3-round-xlarge w3-right" style="margin-right: 1%; margin-top: 0.22%">
       <i class="fa fa-sign-in fa-2x"> <span style="margin-right: 0.5%">Login</i></a>
		<a class="w3-bar-item w3-button w3-circle w3-hide-medium w3-hide-small w3-hover-black w3-small w3-red
    w3-right" style="margin-right: 0.5%; margin-top: 0.25%;">
     <i class="fa fa-bell" ></i>
    </a>
   
	</div>
	<br><br><br><br>
	<div class="w3-row">
	<div class="w3-col m1" ng-model="lati" ng-bind="lati">
			
		</div>
	</div>
	
</div>

